In [ ]:
# re.sub(pattern, repl, string, count=0, flags=0)

# pattern 正则表达式
# repl    要替换的内容，也可传入函数
# string  被替换的字符串
# count   默认为0，代表全部替换 。
#         1 代表替换1次，
#         2 代表替换2次，以此类推

In [2]:
import re

In [12]:
match_str = 'lemon apple 123456789 lemon  lemon'

In [7]:
# 需求
# 将lemon 全都转为 a

In [15]:
re.sub('lemon','a',match_str,count=2)

'a apple 123456789 a  lemon'

In [2]:
# 需求 xx
# 数字 小于 7的，都转为 0 , 数字 大于等于 7的，都转为 10

In [18]:
match_str = 'lemon apple 123456789 lemon  lemon'

In [23]:
def transform(value):
    match_num = value.group()
    print(match_num)
    if int(match_num) < 7:
        return '0'
    return '10'

In [24]:
re.sub('\d',transform,match_str,count=0)

1
2
3
4
5
6
7
8
9

'lemon apple 000000101010 lemon  lemon'